h3 {
  color: #fff;
  font-size: 1.5em;
  line-height: 2rem;
}

h4 {
  color: #FFF;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h5{
  font-size: 0.5rem;
  margin: 0.5rem 0;
}
a {
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
ul, ol{
  list-style-type: none;
  margin:0;
  padding: 0;
}

li{
  color:#000;
}
i{
  color: #FFF;
  font-size: 1.5em;
  margin: 0.5em 1em;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.site-header .site-header__logo {
  background: url(img/7da0495dbb45ae895e64.svg) no-repeat;
  display: block;
  height: 40px;
  float: left;
  margin-right: 15px;
  text-align: center;
  text-indent: -9999px;
  width: 90px;
}
.color-silver {
  color: silver;
}
.top-menu_item,
.top-menu_item-mob{
  background-color:#333;
  color:#f39200;
}
.top-menu_item-mob{
  border:1px solid #f39200;
  border-radius: 10px;
}